* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: 1px solid whitesmoke;
    background-color: lightgreen;
    width: 200px;
    height: 250px;
}
