* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50vw;
    gap: 40px;
    height: 100vh;
}

.card {
    border: 1px solid whitesmoke;
    width: 200px;
    height: 250px;
}

.lightblue {
    background-color: lightblue;
}

.lightgrey {
    background-color: lightgrey;
}

.lightcoral {
    background-color: lightcoral;
}

.lightgreen {
    background-color: lightgreen;
}

.closed_cards {
    background-color: lightslategray;
}

.remove_card {
    background-color: transparent;
    border: none;
}
